/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a2e;
}



.hero-section {
    background-image: url('Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #49448a;
    ;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    color: #4E47FF;
    margin-left: 150px;
}

/* Button Styles */
.btn {
    text-decoration: none;
    color: #fbfbfb;
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-signup {
    background-color: #4E47FF;
    margin-right: 150px;
    font-size: 17px;
    padding: 15px 33px;
}

.btn-focused {
    background-color: #4E47FF;
    ;
    border: 2px solid #8352fd;
    font-size: 20px;
}

/* Banner Content */
.banner-content {
    text-align: center;
    padding: 80px 0;
}

.banner-content h1 {
    font-size: 78px;
    margin-top: 160px;
    margin-bottom: 40px;
    color: black;

}



/* Action Section */
.action-section {
    background-color: #fbfbfb;
    padding: 100px 0;

}

.action-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.action-left h2 {
    font-size: 52px;
    color: #1a1a2e;
    margin-bottom: 20px;
}

.action-left p {
    font-size: 28px;
    color: #555;
    margin-bottom: 30px;
}

.action-right img {
    width: 500px;
    height: 380px;

    border-radius: 35px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);

}

/* Productive Users Section */



.users-section {
    background-color: #fbfbfb;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.container-user {
    background-color: #ebebff;
    border-radius: 28px;
    padding: 60px 150px;
    text-align: center;

}

.section-heading {
    font-size: 40px;
    color: #1a1a2e;
    margin-bottom: 50px;
    font-weight: 600;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    gap: 200px;


}

.stat-item {
    text-align: center;
    min-width: 150px;
}

.stat-number {
    display: block;
    font-size: 88px;
    font-weight: bolder;
    color: #4a40fd;
    margin-bottom: 8px;

}

.stat-label {
    font-size: 25px;
    color: #6b6b6b;
    padding-bottom: 50px;
}





/* Feedback Section */

.section-heading {
    text-align: center;
}

.feedback-section {

    background-color: #fbfbfb;
    padding: 100px 0;
}

.feedback-grid {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.feedback-card {

    /* background-color: #f6f3ff; */
    background-color: #fbfbfb;
    border-radius: 12px;
    padding: 35px;
    border: #e7e7e7 solid .25px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); */


}

.card-stars {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.card-stars img {
    width: 22px;
    height: 22px;
}

.card-title {
    font-size: 30px;
    font-weight: 600;
    color: #1a1a2e;
    margin-bottom: 15px;
}

.card-text {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;

}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 15px;

}

.reviewer-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-details {
    display: flex;
    flex-direction: column;
}

.reviewer-name {
    font-weight: bold;
    font-size: 19px;
    color: #646464;
}

.reviewer-date {
    font-size: 19px;
    color: #888;
}


/* NEWS LETTER */


.contact-section {
    background-color: #fbfbfb;
    min-height: 100vh;


}

.contact-grid {
    display: flex;
    align-items: center;





}

.contact-left h2 {
    font-size: 110px;
    color: #1a1a2e;
    font-weight: 700;
    padding-left: 300px;

}



.contact-right {
    margin-right: 250px;
    padding-left: 150px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 16px;
    padding-left: 20px;
    padding-right: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 26px;
    background-color: #ffffff;

}



.btn-full {
    width: 100%;
    padding: 19px;
    background-color: #4E47FF;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 10px;


}










